{% extends 'adminbd/base.html' %}
{% block content %}
{% for fireSS in fireSSs %}
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        {{fireSS.name_object}}
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>{{fireSS.address_object}}</strong> 
      </div>
    </div>
  </div>
</div>
  {% if not forloop.last %}<hr>{% endif %}
{% endfor %}
{% endblock %}