{% extends 'base.html' %}
{% block content %}
<div id="map" style="width: 600px; height: 400px"></div>
<form id="polygon-form" method="POST" action="{% url 'users:save_polygon' %}">
    {% csrf_token %}
    <input id="polygon-input"  name="polygon" value="">
    <button id="save-polygon">Сохранить координаты</button>
</form>
<script>
    ymaps.ready(init);
    
    function init() {
        var myMap = new ymaps.Map("map", {
                center: [55.73, 37.75],
                zoom: 10
            }, {
                searchControlProvider: 'yandex#search'
            });
                var coords = {{ zone|safe }};
        var myPolygon = new ymaps.Polygon([coords], {
            hintContent: "Мой полигон"
        }, {
            fillColor: '#7df9ff33',
            strokeColor: '#0000FF',
            strokeOpacity: 0.5,
            strokeWidth: 2
        });


        var coords = {{ zone|safe }};
        var myPolygons = new ymaps.Polygon([coords], {
            hintContent: "Мой полигон"
        }, {
            fillColor: '#7df9ff33',
            strokeColor: '#0000FF',
            strokeOpacity: 0.5,
            strokeWidth: 2
        });
        myMap.geoObjects.add(myPolygons)
        // Создаем многоугольник без вершин.
        var myPolygon = new ymaps.Polygon([], {}, {
            // Курсор в режиме добавления новых вершин.
            editorDrawingCursor: "crosshair",
            // Максимально допустимое количество вершин.
            editorMaxPoints: 20,
            // Цвет заливки.
            fillColor: '#00FF00',
            // Цвет обводки.
            strokeColor: '#0000FF',
            // Ширина обводки.
            strokeWidth: 5
        });
        // Добавляем многоугольник на карту.
        myMap.geoObjects.add(myPolygon);
    
        // В режиме добавления новых вершин меняем цвет обводки многоугольника.
        var stateMonitor = new ymaps.Monitor(myPolygon.editor.state);
        stateMonitor.add("drawing", function (newValue) {
            myPolygon.options.set("strokeColor", newValue ? '#FF0000' : '#0000FF');
        });
    
        // Включаем режим редактирования с возможностью добавления новых вершин.
        myPolygon.editor.startDrawing();
    
        document.getElementById('save-polygon').addEventListener('click', function () {
            // Получаем координаты вершин многоугольника
            var coordinates = myPolygon.geometry.getCoordinates()[0];
    
            // Заполняем скрытое поле формы с координатами многоугольника
            document.getElementById('polygon-input').value = JSON.stringify(coordinates);
            
            // Отправляем данные на сервер
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '{% url "users:save_polygon" %}');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    alert('Многоугольник сохранен');
                }
            };
            xhr.send(new FormData(document.getElementById('polygon-form')));
        });
    }
</script>
{% endblock content %}
