{% extends 'base.html' %}
{% block sidebarMenu %}
  {% include 'engineers/includes/sidebarMenu.html' %}
{% endblock sidebarMenu %}

{% block content %}
<div class='container'>
  <div class="row">
    <div class="col-md-6">
      {% include 'engineers/fire_alarm_object/includes/fire_alarm_object_info.html' %}
    </div>
    <div class="col-md-6">
      {% include 'engineers/fire_alarm_object/fire_alarm_object_services.html' %}
      {% include 'engineers/fire_alarm_object/fire_alarm_object_failed_services.html' %}
    </div>
  </div>
</div>
{% endblock %}