{% extends 'base.html' %}
{% block sidebarMenu %}
  {% include 'engineers/includes/sidebarMenu.html' %}
{% endblock sidebarMenu %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-lg-9">
      <div id="map"></div>
      <script type="text/javascript">
          ymaps.ready(init);
      
          function init() {
              var myMap = new ymaps.Map("map", {
                  center: {{branch_location}},
                  zoom: 10
              });
      
              {% for zone in zones %}
                  // Получаем координаты зоны из поля geopoints модели ServiceZone
                  var coordinates = {{ zone.geopoints }};
      
                  // Создаем многоугольник на карте
                  var myPolygon = new ymaps.Polygon([coordinates], {
                      hintContent: "{{ zone.name }}"
                  }, {
                      fillColor: '{{ zone.color}}',
                      strokeColor: '#0000FF',
                      strokeOpacity: 0.5,
                      strokeWidth: 2
                  });
      
                  // Добавляем многоугольник на карту
                  myMap.geoObjects.add(myPolygon);
              {% endfor %}
          }
      </script>
    </div>
    <div class="col-md-4 col-lg-3 scrollable">
      <div class="container">  
        <p>
          <a href="{% url 'engineers:create_service_zone'%}">
            <button class="btn btn-primary">
            Cоздать зону
            </button>
          </a>
        </p>
      </div>
      {% for zone in zones %}
      <div class="container">
        <div class='card'>
          <div class ="container">  
            <h6>Зона:</h6>{{zone.name}}
          </div>
          <div class="container">
            <a href="{% url 'engineers:service_zone_delete' zone.id %}">
              <button class="btn btn-primary">
                Удалить зону
              </button>
            </a>
            <a href="{% url 'engineers:service_zone_edit' zone.id %}">
              <button class="btn btn-primary">
                Редактировать зону 
              </button>
            </a>
          </div>  
        </div>
      </div>
      <p>
      {% endfor%}
    </div>
</div>
<div id="map" style="width: 700px; height: 500px"></div>
{% endblock content %}