{% extends 'base.html' %}
{% block sidebarMenu %}
  {% include 'engineers/includes/sidebarMenu.html' %}
{% endblock sidebarMenu %}
{% load user_filters %}
{% block content %}
<div class = 'col-md-12 mt-1 mb-1'>
  {% include 'engineers/service_zone/service_zone_top_menu.html' %}
</div>
<div class="row">
    <div class="col-md-6 ">
      <div class="card">
        <div class="card-body">
          {% include 'engineers/includes/base_map.html'%}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      {% include 'engineers/service_zone/service_zones.html' %}
    </div>
</div>


{% endblock content %}