{% extends 'base.html' %}
{% block sidebarMenu %}
  {% include 'engineers/includes/sidebarMenu.html' %}
{% endblock sidebarMenu %}

{% block content %}

      {% for technician_obj in technicians_obj_list %}
        {% with technician=technician_obj.technician service_zones=technician_obj.service_zones fire_alarm_objects=technician_obj.fire_alarm_objects branch_location=technician_obj.branch_location%}
          {% include 'engineers/technician/technician_info.html' %}
        {% endwith %}
      {% endfor %}

{% endblock content %}