{% extends 'base.html' %}
{% block sidebarMenu %}
  {% include 'engineers/includes/sidebarMenu.html' %}
{% endblock sidebarMenu %}

{% block content %}
<div class='container'>
  <div class="row">
    <div class="col-md-6">
      {% include "engineers/technician/technician_info.html" %}
      <div class='card'>
        <div class = 'card-body'>
          {% include 'engineers/technician/technician_map.html' %}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      {% include "engineers/technician/technician_zone.html" %}
      {% include "engineers/fire_alarm_object/fire_alarm_objects_list.html" %}
      {% include "engineers/technician/technician_event.html" %}
      {% include "engineers/technician/technician_tikets.html" %}
    </div>
  </div>
</div>



{% endblock content %}