{% extends 'base.html' %}
{% block sidebarMenu %}
  {% include 'technicians/includes/sidebarMenu.html' %}
{% endblock sidebarMenu %}
{% load thumbnail %}
{% block content %}
<div class="accordion-body">
    {% if object.photo %}
    {% thumbnail object.photo "250x250" crop="center" upscale=True as im %}
      <a href="{{ object.photo.url }}"><img class="card-img my-2" src="{{ im.url }}"></a>
    {% endthumbnail %}
    {% endif %}
    <div class = 'row'>
      <div class='container'>
        <p class="card-text"><h6>Обслуживающая организация:</h6> {{ object.service_organizations }}</p>
        <p class="card-text"><h6>Переодичность:</h6> {{ object.frequency }}</p>
        <p class="card-text"><h6>Произвести обслуживания до:</h6> {{ object.next_service_date }}</p>
      </div>
      <div class="d-grid gap-3">
        <button class="btn btn-success btn-sm" type="button">Сделать обслуживать</button>
        <button class="btn btn-danger btn-sm" type="button">Обслуживание невозможно</button>
        <button class="btn btn-primary btn-sm" type="button">Карточка объекта</button>
      </div>
    </div>
</div>
{% endblock content %}