{% extends 'base.html' %}
{% block sidebarMenu %}
  {% include 'technicians/includes/sidebarMenu.html' %}
{% endblock sidebarMenu %}
{% load thumbnail %}
{% block content %}
<div class='d-grid gap-3'>
  <div class='card'>
    <div class="card-body">
      <div class = 'row'>
        <div class='container'>
          {% if object.photo %}
            {% thumbnail object.photo "250x250" crop="center" upscale=True as im %}
              <a href="{{ object.photo.url }}"><img class="img" src="{{ im.url }}"></a>
            {% endthumbnail %}
          {% endif %}
        </div>
        <div class='container'>
          <p class="card-text"><h4>{{ object.name }}</h4></p>
          <p class="card-text"><h6>Адрес:</h6>{{ object.address }} {% if object.room_number %}помещение:{{object.room_number}}{% endif %}</p>
          {% if object.remote_number %}
            <p class="card-text"><h6>Пультовый номер:</h6> {{object.remote_number}}
          {% endif %}
          {% if object.contract_number or object.contract_date %}
          <p class="card-text"><h6>Договор:</h6> {% if object.contract_number %}{{object.contract_number}}{% endif %} от {% if object.contract_date %}{{object.contract_date}}{% endif %}
          {% else %}
          {% endif %}
          <p class="card-text"><h6>Обслуживающая организация:</h6> {{ object.service_organizations }}</p>
          <p class="card-text"><h6>Переодичность:</h6> {{ object.frequency }}</p>
          <p class="card-text"><h6>Произвести обслуживания до:</h6> {{ object.next_service_date }}</p>
        </div>
        <div class="d-grid gap-3">
          <a href="{% url 'technicians:fire_alarm_object_service_create' object.id %}" class="btn btn-success btn-sm">Сделать обслуживать</a>
          <a href="{% url 'technicians:failed_service_create' object.id %}" class="btn btn-danger btn-sm">Обслуживание невозможно</a>
        </div>
        {% if failed_services %}
          <p><h5>Проблемы на объекте:</h5></p>
          <div class="accordion" id="accordionFailedService">
            {% for service in failed_services %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{service.id}}">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{service.id}}" aria-expanded="true" aria-controls="collapse{{service.id}}">
                    Обслуживание от:{{service.service_date}}
                  </button>
                </h2>
                <div id="collapse{{service.id}}" class="accordion-collapse collapse" aria-labelledby="heading{{service.id}}" data-bs-parent="#accordionFailedService">
                  <div style="accordion-body">
                    <div style="container">
                      <p><h6>Техник: {{ service.technician }}</h6></p>
                      <p>
                      {% if service.comment %}
                        <p><h6>Комментарий: {{ service.comment }}</h6></p>
                      {% endif %}
                    <div>
                    <div class="row align-items-center">
                      <div class="image-container" style="background-color: #f5f5f5; padding: 5px;">
                        <div class="col d-flex flex-column align-items-center">
                          {% if service.photo %}
                          {% thumbnail service.photo "120x120" crop="center" upscale=True as im %}
                            <a href="{{ service.photo.url }}"><img src="{{ im.url }}" alt="Фотография журнала техобслуживания ПС" width="120" height="120"></a>
                          {% endthumbnail %}
                          <p><h6>Фотография журнала техобслуживания ПС</h6></p>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>  
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
        {% if services %}
          <p><h5>Журнал теобслуживаний:</h5><p>
          <div class="accordion" id="accordionService">
          {% for service in services %}
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading{{service.id}}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{service.id}}" aria-expanded="true" aria-controls="collapse{{service.id}}">
                  Обслуживание от:{{service.service_date}}
                </button>
              </h2>
              <div id="collapse{{service.id}}" class="accordion-collapse collapse" aria-labelledby="heading{{service.id}}" data-bs-parent="#accordionService">
                <div style="accordion-body">
                  <div style="container">
                      <p><h6>Техник: {{ service.technician }}</h6></p>
                      <p>
                      {% if service.comment %}
                        <p><h6>Комментарий: {{ service.comment }}</h6></p>
                      {% endif %}
                  </div>
                  <div style="container">
                    <div class="row align-items-center">
                      <div class="image-container" style="background-color: #f5f5f5; padding: 5px;">
                        <div class="col d-flex flex-column align-items-center">
                          {% if service.service_journal_title_page_photo %}
                            {% thumbnail service.service_journal_title_page_photo "x120" crop="center" upscale=True as im %}
                              <a href="{{ service.service_journal_title_page_photo.url }}"><img src="{{ im.url }}" alt="Фотография журнала техобслуживания ПС" width="120" height="120"></a>
                            {% endthumbnail %}
                            <p><h6>Фотография обложки журнала техобслуживания ПС</h6></p>
                          {% endif %}
                        </div>
                      </div>
                      <div class="image-container" style="background-color: #f5f5f5; padding: 5px;">
                        <div class="col d-flex flex-column align-items-center">
                          {% if service.service_journal_photo %}
                            {% thumbnail service.service_journal_photo "x120" crop="center" upscale=True as im %}
                              <a href="{{ service.service_journal_photo.url }}"><img src="{{ im.url }}" alt="Фотография журнала техобслуживания ПС" width="120" height="120"></a>
                            {% endthumbnail %}
                            <p><h6>Фотография журнала техобслуживания ПС</h6></p>
                          {% endif %}
                        </div>
                      </div>
                      <div class="image-container" style="background-color: #f5f5f5; padding: 5px;">
                        <div class="col d-flex flex-column align-items-center">
                          {% if service.control_panel_photo %}
                            {% thumbnail service.control_panel_photo "x120" crop="center" upscale=True as im %}
                              <a href="{{ service.control_panel_photo.url }}"><img src="{{ im.url }}" alt="Фотография головного прибора ПС" width="120" height="120"></a>
                            {% endthumbnail %}
                            <p><h6>Фотография головного прибора ПС</h6></p>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>  
              </div>
            </div>
          {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}