<div class="accordion" id="accordion-sidebarMenu">
  <div class="card">
    <div class="card-body"  data-bs-toggle="collapse" data-bs-target="#collapse-sidebarMenu" aria-expanded="true" aria-controls="collapse-sidebarMenu">
  
      <li class="list-group-item">Главная</li>

    </div>
    <div id="collapse-sidebarMenu" class="accordion-collapse collapse show" aria-labelledby="heading-sidebarMenu" data-bs-parent="#accordion-sidebarMenu">
      <ul class="list-group list-group-flush">
        <a class="list-group-item" type='button' href="{% url 'engineers:service_zones' %}">Зоны обслуживания ПС</a>
        <a class="list-group-item" type='button' href="{% url 'engineers:technicians' %}">Техники</a>
        <a class="list-group-item" type='button' href="{% url 'engineers:fire_alarm_objects' %}">Объекты</a>
      </ul>
    </div>
  </div>
</div>