{% extends 'base.html' %}
{% block sidebarMenu %}
  {% include 'engineers/includes/sidebarMenu.html' %}
{% endblock sidebarMenu %}

{% block content %}
<div class='container'>
  <div class="row">
    <div class="col-md-6">
      <div class="card mt-1 mb-1">
        <div class="card-body">
          {% if fire_alarm_object_form.errors %}    
            {% for field in fire_alarm_object_form %}
              {% for error in field.errors %}            
                <div class="alert alert-danger">
                  {{ error|escape }}
                </div>
              {% endfor %}
            {% endfor %}
            {% for error in fire_alarm_object_form.non_field_errors %}
              <div class="alert alert-danger">
                {{ error|escape }}
              </div>
            {% endfor %}
          {% endif %}
          {% if is_edit %}
            <form id="fire_alarm_object-form" method="POST" enctype="multipart/form-data" action="{% url 'engineers:fire_alarm_object_edite' fire_alarm_object.id %}">
          {% else %}
            <form id="fire_alarm_object-form" method="POST" enctype="multipart/form-data" action="{% url 'engineers:create_fire_alarm_object'%}">
          {% endif %}
            {% csrf_token %}
            {% for field in fire_alarm_object_form %}
              {% if field.id_for_label == 'id_latitude' or field.id_for_label == 'id_longitude' %}
                {% if fire_alarm_object_form.errors.address %}
                  <div class="form-group row my-3 p-3">
                    <label for="{{field.id_for_label}}">
                      {{ field.label }}
                      {% if field.field.required %}                  
                        <span class="required text-danger" >*</span>
                      {% endif %}                
                    </label>
                    {{ field }}
                    {% if field.help_text %}             
                      <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                        {{ field.help_text }}
                      </small>
                    {% endif %}                
                  </div>
                {% endif %}
              {% else %}   
                <div class="form-group row my-3 p-3">
                  <label for="{{field.id_for_label}}">
                    {{ field.label }}
                    {% if field.field.required %}                  
                      <span class="required text-danger" >*</span>
                    {% endif %}                
                  </label>
                  {{ field }}
                  {% if field.help_text %}             
                    <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                      {{ field.help_text }}
                    </small>
                  {% endif %}                
                </div>
              {% endif %} 
            {% endfor %}
            <button type="submit" class="btn btn-success btn-sm" name="save_and_view" value="Save and View">Сохранить</button>
            {% if not is_edit %}
              <button type="submit" class="btn btn-primary btn-sm" name="save_and_add_another" value="Save and Add Another">Сохранить и добавить</button>
            {% endif %}
          </form>
        </div>
        </div>  
              <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
              <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/css/suggestions.min.css" rel="stylesheet" />
              <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/js/jquery.suggestions.min.js"></script>  
              <script>
                  $("#id_address").suggestions({
                      token: "158debbbb6e04fe4c827e77b3e420f0b2b305e73",
                      type: "ADDRESS",
                      onSelect: function(suggestion) {
                          console.log(suggestion);
                      }
                  });
              </script>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    </div>
  </div>
</div>
{% endblock %}










