{% load thumbnail %}
<div class="accordion" id="accordion-fire_alarm_object_service{{fire_alarm_object_service.id}}">
    <div class="card mb-1 mt-1" >
      <div class="card-body"  data-bs-toggle="collapse" data-bs-target="#collapse-fire_alarm_object_service{{fire_alarm_object_service.id}}"  aria-controls="collapse-fire_alarm_object_service{{fire_alarm_object_service.id}}">
        <div class ='row'>  
              <div class = 'col-6'>
                <h5>{{fire_alarm_object_service}}</h5><p>
              </div>
              <div class = 'col-6'>
                {% if fire_alarm_object.photo %}
                {% thumbnail fire_alarm_object.photo "70x70" crop="center" as im %}
                  <a href="{{ fire_alarm_object.photo.url }}"><img class="img-thumbnail float-end" src="{{ im.url }}"></a>
                {% endthumbnail %}
                {% endif %} 
              </div>
        </div>
      </div>
      <div id="collapse-fire_alarm_object_service{{fire_alarm_object_service.id}}" class="accordion-collapse collapse" aria-labelledby="heading-fire_alarm_object_service{{fire_alarm_object_service.id}}" data-bs-parent="#accordion-fire_alarm_object_service{{fire_alarm_object_service.id}}">
        <div class="card-body">

        </div>
      </div>
    </div>
</div>
