{% load thumbnail %}
{% load user_filters %}
  <h2 class="accordion-header" id="headingFireAlarmObjectsForTasks">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFireAlarmObjectsForTasks" aria-expanded="true" aria-controls="collapseFireAlarmObjectsForTasks">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Обслуживание</div>
      </div>
    </button>
  </h2>
  <div id="collapseFireAlarmObjectsForTasks" class="accordion-collapse collapse show" aria-labelledby="headingFireAlarmObjectsForTasks" data-bs-parent="#accordionTasks">
    <div class="body">
      <div class="accordion accordion-flush" id="accordion-fire-alarm-objects">
        {% for fire_alarm_object in fire_alarm_objects %}
          {% include 'technicians/includes/fire_alarm_object.html' %}
        {% endfor %}
      </div>
    </div>
  </div>
