{% load user_filters %}
{% load thumbnail %}
<div class="accordion-item">
  <h2 class="accordion-header" id="heading-fire-alarm-object{{fire_alarm_object.id}}">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-fire-alarm-object{{fire_alarm_object.id}}" aria-expanded="failed" aria-controls="collapse-fire-alarm-object{{fire_alarm_object.id}}">
      <div class="ms-2 me-auto">
        <div class='row'>
          <div class='col-6'>
            <span>
            <div style="width: 10px; height: 10px; border-radius: 50%; background-color: {{fire_alarm_object|map_icon_color}};"></div>
            <h6>{{ fire_alarm_object.name }}</h6>
            </span>
          </div>
          <div class ='col-6'>
            {{ fire_alarm_object.address }} {% if fire_alarm_object.room_number %}помещение:{{fire_alarm_object.room_number}}{% endif %}
          </div>
        </div>
      </div>
    </button>
  </h2>
  <div id="collapse-fire-alarm-object{{fire_alarm_object.id}}" class="accordion-collapse collapse " aria-labelledby="heading-fire-alarm-object{{fire_alarm_object.id}}" data-bs-parent="#accordion-fire-alarm-objects">
    <div class="accordion-body">
      {% if fire_alarm_object.photo %}
      {% thumbnail fire_alarm_object.photo "150x150" crop="center" upscale=True as im %}
        <a href="{{ fire_alarm_object.photo.url }}"><img class="img" src="{{ im.url }}"></a>
      {% endthumbnail %}
      {% endif %}
      <div class='container'>
        {% if fire_alarm_object.remote_number %}
          <p class="card-text"><h6>Пультовый номер:</h6> {{fire_alarm_object.remote_number}}
        {% endif %}
          {% if fire_alarm_object.contract_number or fire_alarm_object.contract_date %}
            <p class="card-text"><h6>Договор:</h6> {% if fire_alarm_object.contract_number %}{{fire_alarm_object.contract_number}}{% endif %} от {% if fire_alarm_object.contract_date %}{{fire_alarm_object.contract_date}}{% endif %}
          {% else %}
        {% endif %}
        <p class="card-text"><h6>Обслуживающая организация:</h6> {{ fire_alarm_object.service_organizations }}</p>
        <p class="card-text"><h6>Переодичность:</h6> {{ fire_alarm_object.frequency }}</p>
        <p class="card-text"><h6>Произвести обслуживания до:</h6> {{ fire_alarm_object.next_service_date }}</p>
      </div>

    


      <div class="d-grid gap-3">
        <button  type="button" class="btn btn-outline-dark btn-sm" id="copy-button" onclick="copyToClipboard()">
          <div class ='fs-3'>
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
              <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"></path>
              <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
            </svg>
            Копировать геоточку
          </div>
        </button>
        <a href="{{fire_alarm_object.address.get_navigator_link}}" class="btn btn-outline-dark btn-sm">
          <div class ='fs-3'>
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-cursor" viewBox="0 0 16 16">
              <path d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z"></path>
            </svg>
            Построить маршрут
          </div>
        </a>
        <a href="{% url 'technicians:fire_alarm_object_service_detail' fire_alarm_object.id %}" class="btn btn-secondary btn-sm">
          <div class ='fs-3'>
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-card-Заголовок" viewBox="0 0 16 16">
              <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"></path>
              <path d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z"></path>
            </svg>
            Карточка объекта
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div id="post-shortlink" hidden>{{fire_alarm_object.address.get_geopoint_v2}}</div>
<script>
function copyToClipboard() {
  var element = document.getElementById("post-shortlink");
  var text = element.innerText;
  var tempInput = document.createElement("input");
  tempInput.value = text;
  document.body.appendChild(tempInput);
  tempInput.select();
  document.execCommand("copy");
  document.body.removeChild(tempInput);
  alert("Скопировано в буфер обмена: " + text);
}
</script>