{% load user_filters %}
<div id="map"></div>

<script>
    ymaps.ready(init);

    function init() {
        var myMap = new ymaps.Map("map", {
            center: {{branch_location}},
            zoom: 10
        }, {
            searchControlProvider: 'yandex#search'
        });

        {% for zone in service_zones %}
        // Получаем координаты зоны из поля geopoints модели ServiceZone
        var coordinates = {{ zone.geopoints }};

        // Создаем многоугольник на карте
        var myPolygon = new ymaps.Polygon([coordinates], {
            hintContent: "{{ zone.name }}"
        }, {
            fillColor: '{{ zone.color}}',
            strokeColor: '#0000FF',
            strokeOpacity: 0.5,
            strokeWidth: 2
        });

        // Добавляем многоугольник на карту
        myMap.geoObjects.add(myPolygon);
        {% endfor %}
        {% for object in fire_alarm_objects %}

        var placemark{{object.id}} = new ymaps.Placemark(
            {{ object.address.get_geopoint }}, {
                balloonContentHeader: '<h5>{{object.name}}</h5><br>',
                balloonContentBody: 
                '<div class = "row">'+
                '<div class="container">'+
                '<p class="card-text"><h6>Обслуживающая организация:</h6> {{ object.service_organizations }}</p>'+
                '<p class="card-text"><h6>Переодичность:</h6> {{ object.frequency }}</p>'+
                '<p class="card-text"><h6>Произвести обслуживания до:</h6> {{ object.next_service_date }}</p>'+
                '</div>'+
                '</div>',
                balloonContentFooter: '<div class="d-grid gap-3">'+
                    '<button class="btn btn-warning btn-sm" type="button">Построить маршрут</button>'+
                    '<a href = "{% url "technicians:fire_alarm_object_service_detail" object.id %} " class="btn btn-primary btn-sm" >Карточка объекта</a>'+
                    '</div>',
                hintContent: '{{object.name}}'
            },{
                preset: 'islands#dotIcon',
                iconColor: '{{object|map_icon_color}}'
            });


        {% endfor %}

        myMap.geoObjects
            {% for object in fire_alarm_objects %}
            .add(placemark{{object.id}})
            {% endfor %};
    }
</script>