        <div class="position-sticky pt-3 sidebar-sticky">
          <ul class="nav flex-column">
            <div clsas ='container'>
              <div clsas ='card'>
               <p><h5>Всего объектов:</5></p>
                <p><h6>Ежемесячных:</6></p>
                <p><h6>Ежеквартальных:</6></p>

              </div>
            </div>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'engineers:service_zones' %}">
                <span data-feather="home" class="align-text-bottom"></span>
                Зоны
              </a>
            </li>
            <a href="{% url 'logout' %}" class="btn btn-primary btn-sm">Выйти</a>
