{% load user_filters %}        
        <div class="position-sticky pt-3 sidebar-sticky">
          <ul class="nav flex-column">
            <div clsas ='container'>
              <div clsas ='card'>
                <div class = 'card-body'>
                  <p><h5>Всего объектов:</h5></p>
                  <p><h6>Ежемесячных:</h6> </p>
                  <p><h6>Ежеквартальных:</h6> </p>
                  <a href="{% url 'logout' %}" class="btn btn-primary btn-sm">Выйти</a>
                </div>
              </div>
            </div>
